/* all styles for the css 
All button designs are temporary
*/
/* some styles are directly in the favorites.html file, but most the the major ones are here */



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;

}

header {
    background-color: rgb(13, 173, 13);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    font-size: xx-large;
}

header a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    
}

.list-group{
    text-align: center;
    margin: 0 auto;
    padding: auto;
}


.mt-4{
    margin-top: 20%;
    text-align: center;
    margin: 0 auto;
    padding: auto;
}


#favorite-footer{
    margin-top: 200px;
}
    
.nav-icon {
    width: 60px; /* Adjust the size as needed */
    height: 60px;
    /* Add more styles like color, margin, padding, etc., if required */
  }

  .list-group-item {
    font-size: 1.55rem; /* Increase font size */
    padding: 10px; /* Increase padding for height */
  }

















