body {
    overflow-x: hidden;
}

.btn {
    background-color: rgb(238, 255, 238);
    color: rgb(0, 87, 0);
    margin-top: 1%;
    border-color: rgb(0, 87, 0);
}

.btn:hover {
    background-color: rgb(0, 87, 0);
    color: rgb(238, 255, 238);
}

.routes {
    display: flex;
    gap: 3%;
}

.route-number {
    padding: 0px 20px;
    background-color: #ededed;
    border-radius: 10px;
}

.star-rating {
    display: flex;
    padding-top: 10px;
    gap: 20px;
}

.star {
    color: gold; /* Gold color for stars */
    font-size: 24px;
    transition: color 0.2s ease;
}

.star.clickable {
    cursor: pointer;
}

.star.filled {
    color: gold; /* Filled star color */
}

.star:hover {
    color: goldenrod; /* Slightly darker color on hover */
}

.star:not(.filled) {
    color: grey;
}

#map {
    width: 100%; height: 500px;
}

.custom-marker {
    background-image: url('https://cdn3.iconfinder.com/data/icons/infrastructure-isometric-1/512/g6007-512.png'); /* Replace with custom marker image */
    width: 30px;
    height: 30px;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.average-stars {
    font-size: 1.2em;
    margin-top: 8px;
    color: gray;
}

.average-stars span {
    font-weight: bold;
}

