
body {
    overflow-x: hidden;
}

.btn {
    background-color: rgb(238, 255, 238);
    border-radius: 2em;
    color: rgb(0, 87, 0);
    margin-top: 1%;
    border-color: rgb(0, 87, 0);
}

.btn:hover {
    background-color: rgb(0, 87, 0);
    color: rgb(238, 255, 238);
}

.routes {
    display: flex;
    gap: 3%;
}

.route-number {
    padding: 0px 20px;
    background-color: #ededed;
    border-radius: 10px;
}

.star-rating {
    display: flex;
    padding-top: 10px;
    gap: 20px;
}

.star {
    color: gold; /* Gold color for stars */
    font-size: 24px;
    transition: color 0.2s ease;
}

.star.clickable {
    cursor: pointer;
}

.star.filled {
    color: gold; /* Filled star color */
}

.star:hover {
    color: goldenrod; /* Slightly darker color on hover */
}

.star:not(.filled) {
    color: grey;
}